<div class="container">
	<h1>Add a New Product</h1>

	<% if @errors %>
		<% @errors.each do |error| %>
			<div class="alert-danger"><%= error %></div>
		<% end %>
	<% end %>

	<%= simple_form_for @product do |f| %>
		<%= f.association :category %>
		<%= f.input :name, placeholder: 'product' %>
		<%= f.input :description %>
		<%= f.input :price %>
		<%= f.button :submit %>
	<% end %>


	<%= link_to 'Back', products_path %>
</div>