<div class="container">
	<div class="row">
		<% if flash[:errors] %>
		    <div id="error_explanation">
		      <ul>
		      <% flash[:errors].each do |error| %>
		        <li><%= error %></li>
		      <% end %>
		      </ul>
		    </div>  
		<% end %>

		<h1>Product:</h1>

		<p>
		<strong>Name:</strong>
		<%= @product.name %>
		</p>

		<p>
		<strong>Description:</strong>
		<%= @product.description %>
		</p>

		<p>
		<strong>Price:</strong>
		<%= @product.price %>
		</p>

		<p>
		<strong>Category:</strong>
		<%= @product.category_name %>
		</p>

		<%= link_to 'Edit', edit_product_path(@product) %> |
		<%= link_to 'Back', products_path %>


		<%= render "/comments/new" %>
		<%= render "/comments/show" %>

	</div>

</div>









