<h1>Surveys#result</h1>
<p>Find me in app/views/surveys/result.html.erb</p>

<p>This form has been submitted: <%= session[:counter] %></p>
<p>Name: <%= session[:student]["name"] %></p>
<p>Location: <%= session[:student]["location"] %></p>
<p>Language: <%= session[:student]["language"] %></p>
<p>Comment: <%= session[:student]["comment"] %></p>